In [74]:
import pandas as pd

In [75]:
df = pd.read_csv('IPL_CSV.csv')

C:\Users\golla\AppData\Local\Temp\ipykernel_14536\2159520055.py:1: DtypeWarning: Columns (3,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('IPL_CSV.csv')

In [76]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

# Assuming df is your DataFrame containing cricket match data

label_encoder_players = LabelEncoder()

# Combine 'batter', 'bowler', and 'non-striker' into a single Series
combined_categories = pd.concat([df['batter'], df['bowler'], df['non-striker'],df['Player_of_Match'],df['fielders_involved']], ignore_index=True)

# Fit label encoder on combined categories
label_encoder_players.fit(combined_categories)

# Apply label encoding to each column with handling unseen labels
df['batter'] = label_encoder_players.transform(df['batter'])
df['bowler'] = label_encoder_players.transform(df['bowler'])
df['non-striker'] = label_encoder_players.transform(df['non-striker'])
df['Player_of_Match']= label_encoder_players.transform(df['Player_of_Match'])
df['fielders_involved'] = label_encoder_players.transform(df['fielders_involved'])

In [77]:
df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wickets,crr,rrr,result
0,1312200,Ahmedabad,29-05-2022,2022,Final,RR,GT,"Narendra Modi Stadium, Ahmedabad",RR,bat,...,373,GT,RR,0,131,125,10,-0.000000,6.288000,1
1,1312200,Ahmedabad,29-05-2022,2022,Final,RR,GT,"Narendra Modi Stadium, Ahmedabad",RR,bat,...,373,GT,RR,0,131,124,10,-0.000000,6.338710,1
2,1312200,Ahmedabad,29-05-2022,2022,Final,RR,GT,"Narendra Modi Stadium, Ahmedabad",RR,bat,...,373,GT,RR,1,130,123,10,-2.000000,6.341463,1
3,1312200,Ahmedabad,29-05-2022,2022,Final,RR,GT,"Narendra Modi Stadium, Ahmedabad",RR,bat,...,373,GT,RR,1,130,122,10,-3.000000,6.393443,1
4,1312200,Ahmedabad,29-05-2022,2022,Final,RR,GT,"Narendra Modi Stadium, Ahmedabad",RR,bat,...,373,GT,RR,1,130,121,10,-6.000000,6.446281,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95942,335982,Bengaluru,18-04-2008,2007/08,1,RCB,KKR,M Chinnaswamy Stadium,RCB,field,...,373,RCB,KKR,80,143,37,1,5.783133,23.189189,0
95943,335982,Bengaluru,18-04-2008,2007/08,1,RCB,KKR,M Chinnaswamy Stadium,RCB,field,...,373,RCB,KKR,81,142,36,1,5.785714,23.666667,0
95944,335982,Bengaluru,18-04-2008,2007/08,1,RCB,KKR,M Chinnaswamy Stadium,RCB,field,...,373,RCB,KKR,81,142,35,1,5.717647,24.342857,0
95945,335982,Bengaluru,18-04-2008,2007/08,1,RCB,KKR,M Chinnaswamy Stadium,RCB,field,...,373,RCB,KKR,82,141,35,1,5.788235,24.171429,0
95946,335982,Bengaluru,18-04-2008,2007/08,1,RCB,KKR,M Chinnaswamy Stadium,RCB,field,...,88,RCB,KKR,82,141,34,0,5.720930,24.882353,0

In [78]:
label_encoder_teams = LabelEncoder()

# Combine 'batter', 'bowler', and 'non-striker' into a single Series
combined_categories = pd.concat([df['Team1'], df['Team2'], df['BattingTeam'],df['BowlingTeam'],df['WinningTeam'],df['TossWinner']], ignore_index=True)


label_encoder_teams.fit(combined_categories)

# Apply label encoding to each column with handling unseen labels
df['Team1'] = label_encoder_teams.transform(df['Team1'])
df['Team2'] = label_encoder_teams.transform(df['Team2'])
df['BattingTeam'] = label_encoder_teams.transform(df['BattingTeam'])
df['BowlingTeam'] = label_encoder_teams.transform(df['BowlingTeam'])
df['WinningTeam'] = label_encoder_teams.transform(df['WinningTeam'])
df['TossWinner'] = label_encoder_teams.transform(df['TossWinner'])

In [79]:
df['crr'] = df['crr'].abs()
df['rrr'] = df['rrr'].abs()
df['runs_left'] = df['runs_left'].abs()

In [80]:
df.BattingTeam.unique()

array([2, 8, 4, 6, 5, 7, 3, 9, 1, 0])

In [81]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
label_encoder_rem = LabelEncoder()

# Fit label encoder and transform 'City' column
df['City'] = label_encoder_rem.fit_transform(df['City'])

df['TossDecision'] = label_encoder_rem.fit_transform(df['TossDecision'])

df['kind'] = label_encoder_rem.fit_transform(df['kind'])

df['WonBy'] = label_encoder_rem.fit_transform(df['WonBy'])

df['extra_type'] = label_encoder_rem.fit_transform(df['extra_type'])

In [82]:
df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wickets,crr,rrr,result
0,1312200,1,29-05-2022,2022,Final,8,2,"Narendra Modi Stadium, Ahmedabad",8,0,...,373,2,8,0,131,125,10,0.000000,6.288000,1
1,1312200,1,29-05-2022,2022,Final,8,2,"Narendra Modi Stadium, Ahmedabad",8,0,...,373,2,8,0,131,124,10,0.000000,6.338710,1
2,1312200,1,29-05-2022,2022,Final,8,2,"Narendra Modi Stadium, Ahmedabad",8,0,...,373,2,8,1,130,123,10,2.000000,6.341463,1
3,1312200,1,29-05-2022,2022,Final,8,2,"Narendra Modi Stadium, Ahmedabad",8,0,...,373,2,8,1,130,122,10,3.000000,6.393443,1
4,1312200,1,29-05-2022,2022,Final,8,2,"Narendra Modi Stadium, Ahmedabad",8,0,...,373,2,8,1,130,121,10,6.000000,6.446281,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95942,335982,2,18-04-2008,2007/08,1,7,3,M Chinnaswamy Stadium,7,1,...,373,7,3,80,143,37,1,5.783133,23.189189,0
95943,335982,2,18-04-2008,2007/08,1,7,3,M Chinnaswamy Stadium,7,1,...,373,7,3,81,142,36,1,5.785714,23.666667,0
95944,335982,2,18-04-2008,2007/08,1,7,3,M Chinnaswamy Stadium,7,1,...,373,7,3,81,142,35,1,5.717647,24.342857,0
95945,335982,2,18-04-2008,2007/08,1,7,3,M Chinnaswamy Stadium,7,1,...,373,7,3,82,141,35,1,5.788235,24.171429,0
95946,335982,2,18-04-2008,2007/08,1,7,3,M Chinnaswamy Stadium,7,1,...,88,7,3,82,141,34,0,5.720930,24.882353,0

In [83]:
import numpy  as np
np.sort(df.City.unique())

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28])

In [84]:
df['extra_type'] = df['extra_type'].fillna('None')

df['Margin'] = df['Margin'].fillna(0)

df['crr'] = df['crr'].fillna(0)

In [85]:
df = df.drop(['ID','Date','Season','MatchNumber','Umpire1','Umpire2','Team1Players','Team2Players','method','Venue','SuperOver'],axis=1)

In [86]:
df

,City,Team1,Team2,TossWinner,TossDecision,WinningTeam,WonBy,Margin,Player_of_Match,total_run_x,...,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wickets,crr,rrr,result
0,1,8,2,8,0,2,2,7.0,191,131,...,373,2,8,0,131,125,10,0.000000,6.288000,1
1,1,8,2,8,0,2,2,7.0,191,131,...,373,2,8,0,131,124,10,0.000000,6.338710,1
2,1,8,2,8,0,2,2,7.0,191,131,...,373,2,8,1,130,123,10,2.000000,6.341463,1
3,1,8,2,8,0,2,2,7.0,191,131,...,373,2,8,1,130,122,10,3.000000,6.393443,1
4,1,8,2,8,0,2,2,7.0,191,131,...,373,2,8,1,130,121,10,6.000000,6.446281,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95942,2,7,3,7,1,3,0,140.0,88,223,...,373,7,3,80,143,37,1,5.783133,23.189189,0
95943,2,7,3,7,1,3,0,140.0,88,223,...,373,7,3,81,142,36,1,5.785714,23.666667,0
95944,2,7,3,7,1,3,0,140.0,88,223,...,373,7,3,81,142,35,1,5.717647,24.342857,0
95945,2,7,3,7,1,3,0,140.0,88,223,...,373,7,3,82,141,35,1,5.788235,24.171429,0
95946,2,7,3,7,1,3,0,140.0,88,223,...,88,7,3,82,141,34,0,5.720930,24.882353,0

In [87]:
 df.to_csv('test.csv',index=False)

In [88]:
df.TossDecision.unique()

array([0, 1])

In [89]:
df.isna().sum()

City                 0
Team1                0
Team2                0
TossWinner           0
TossDecision         0
WinningTeam          0
WonBy                0
Margin               0
Player_of_Match      0
total_run_x          0
innings              0
overs                0
ballnumber           0
batter               0
bowler               0
non-striker          0
extra_type           0
batsman_run          0
extras_run           0
total_run_y          0
non_boundary         0
isWicketDelivery     0
player_out           0
kind                 0
fielders_involved    0
BattingTeam          0
BowlingTeam          0
current_score        0
runs_left            0
balls_left           0
wickets              0
crr                  0
rrr                  0
result               0
dtype: int64

In [90]:
df = pd.read_csv('test.csv')

In [91]:
df=df.drop(['Team1','Team2','WonBy','TossWinner','TossDecision','Margin','Player_of_Match'],axis=1)

In [92]:
df

,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,...,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wickets,crr,rrr,result
0,1,2,131,2,0,1,594,558,543,5,...,373,2,8,0,131,125,10,0.000000,6.288000,1
1,1,2,131,2,0,2,594,558,543,5,...,373,2,8,0,131,124,10,0.000000,6.338710,1
2,1,2,131,2,0,3,594,558,543,5,...,373,2,8,1,130,123,10,2.000000,6.341463,1
3,1,2,131,2,0,4,543,558,594,5,...,373,2,8,1,130,122,10,3.000000,6.393443,1
4,1,2,131,2,0,5,543,558,594,5,...,373,2,8,1,130,121,10,6.000000,6.446281,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95942,2,3,223,2,14,5,383,200,491,1,...,373,7,3,80,143,37,1,5.783133,23.189189,0
95943,2,3,223,2,14,6,491,200,383,5,...,373,7,3,81,142,36,1,5.785714,23.666667,0
95944,2,3,223,2,14,7,383,200,491,5,...,373,7,3,81,142,35,1,5.717647,24.342857,0
95945,2,3,223,2,15,1,491,293,383,4,...,373,7,3,82,141,35,1,5.788235,24.171429,0
95946,2,3,223,2,15,2,491,293,383,5,...,88,7,3,82,141,34,0,5.720930,24.882353,0

In [107]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

X = df.drop(columns=['WinningTeam'])  
y = df['WinningTeam']  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

k_best_selector = SelectKBest(score_func=chi2, k=14)  
X_train_selected = k_best_selector.fit_transform(X_train, y_train)

selected_indices = k_best_selector.get_support(indices=True)

selected_features = X.columns[selected_indices]

In [108]:
selected_features

Index(['City', 'total_run_x', 'batter', 'bowler', 'non-striker', 'BattingTeam',
       'BowlingTeam', 'current_score', 'runs_left', 'balls_left', 'wickets',
       'crr', 'rrr', 'result'],
      dtype='object')